@model College
<section class="section " style="margin:50px ;">
    <div class=" p-3 rounded-3" style="background: #fff; border: 1px solid transparent; box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);">

        <h1 class="d-flex justify-content-center"> تعديل الكلية </h1>
        <form asp-action="EditCollage" asp-controller="Collage" method="post" enctype="multipart/form-data">
            <input hidden name="id" id="id" value="@Model.Id"/>
            <div class="row mb-3" bis_skin_checked="1">
                <label class="col-sm-1 col-form-label">الجامعه</label>
                <div class="col-3" bis_skin_checked="1">
                    @if (ViewBag.Universities != null)
                    {
                        <select asp-for="UniID"  class="form-select" 
                            asp-items="@(new SelectList(ViewBag?.Universities,"Id","Name",Model.University.Id))"
                            aria-label="Default select example"
                            value="UniID">
                        </select>
                        <span asp-validation-for="UniID" class="text-danger"></span>

                    }
                    else
                    {
                        <select asp-for="UniID"  class="form-select" 
                            aria-label="Default select example"
                            value="UniID">
                            <option value="" >لا توجد بيانات</option>
                        </select>
                        <span asp-validation-for="UniID" class="text-danger"></span>

                    }
                </div>
                <label class="col-sm-1 col-form-label">اسم الكليه   </label>
                <div class="col-3" bis_skin_checked="1">
                    <input asp-for="Name" class="form-control" type="text" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-3" bis_skin_checked="1">
                    <input asp-for="ISDeleted" value="False" class="form-control" hidden type="text" />
                </div>
                <br>
                <br>
                <br>
                <div class="col-12 d-flex justify-content-center" bis_skin_checked="1">
                    <button class="btn btn-primary" type="submit">  تعديل كليه </button>
                </div>
            </div>
        </form>
    </div>
</section>

@section Scripts
    {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
    }