@model IEnumerable<Courses_Center.Models.University>

<section class="section " style="margin:50px ;">

    <br />
    <br />
    <br />
    <br />
    <div class=" p-3 rounded-3"  style="background: #fff; border: 1px solid transparent; box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);">

        <section>
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th scope="col" >اسم الجامعه</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {


                        <tr>

                            <td>@item.Name</td>

                            <td>

                                <a class='bx bx-edit-alt'  style="cursor: pointer;"asp-route-id="@item.Id" asp-action="update" ></a>
                                <a class='bx bx-x' style="cursor: pointer;" asp-route-id="@item.Id" asp-action="Remove" onclick="return confirm('هل انت متأكد من حذف @item.Name')"></a>


                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </section>
    </div>
</section>

