@model CourseDTO

<section class="section " style="margin:50px ;">
    <div class=" p-3 rounded-3" style="background: #fff; border: 1px solid transparent; box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);">

        <h1 class="d-flex justify-content-center">تعديل مادة </h1>
        <form asp-action="Edite" asp-controller="Course">
            <input hidden name="id" id="id" value="@Model.Id" />
            <div class="row mb-3" bis_skin_checked="1">
                <label class="col-sm-1 col-form-label" asp-for="UniID"></label>
                <div class="col-3" bis_skin_checked="1">
                    <select name="Univesity" class="form-select"
                            asp-items="@(new SelectList(ViewBag?.Universities,"Id","Name",Model.UniID))"
                            asp-for="UniID"
                            value="UniverstyName"
                            id="UniVer"
                            onchange="changeUniName(this.value)">
                        <option value="0">اختر الجامعة</option>
                    </select>
                    <span class="text-danger" asp-validation-for="UniID"></span>
                </div>

                <label class="col-sm-1 col-form-label" asp-for="ColID"></label>
                <div class="col-3" bis_skin_checked="1">
                    <select class="form-select" id="colleges"
                            asp-for="ColID"
                            asp-items="@(new SelectList(ViewBag?.Cols,"Id","Name",Model.ColID))"></select>
                    <span class="text-danger" asp-validation-for="ColID"></span>
                </div>
                <br>
                <br>
                <br>
                <label class="col-sm-1 col-form-label">القسم</label>
                <div class="col-3" bis_skin_checked="1">
                    <select class="form-select" id="sections" asp-items="@(new SelectList(ViewBag?.Depts,"Id","Name",Model.DeptID))" asp-for="DeptID">
                    </select>

                </div>
                <br>
                <br>
                <br>

                <label class="col-sm-1 col-form-label" asp-for="Name"></label>
                <div class="col-3" bis_skin_checked="1">
                    <input class="form-control" type="text" asp-for="Name" />
                    <span class="text-danger" asp-validation-for="Name"></span>

                </div>
                <label class="col-sm-1 col-form-label" asp-for="Level"></label>
                <div class="col-3" bis_skin_checked="1">
                    <input class="form-control" type="text" asp-for="Level" />
                    <span class="text-danger" asp-validation-for="Level"></span>

                </div>
                <label class="col-sm-1 col-form-label" asp-for="Semester"></label>
                <div class="col-3" bis_skin_checked="1">
                    <input class="form-control" type="text" asp-for="Semester" />
                    <span class="text-danger" asp-validation-for="Semester"></span>

                </div>

                <br>
                <br>
                <br>
                <div class="col-12 d-flex justify-content-center" bis_skin_checked="1">
                    <button class="btn btn-primary" type="submit">  حفظ  </button>
                </div>
        </form>
    </div>
</section>

