@model Department
<section class="section " style="margin:50px ;">
    <div class=" p-3 rounded-3" style="background: #fff; border: 1px solid transparent; box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);">

        <h1 class="d-flex justify-content-center">اضافه قسم </h1>
        <form id="FormDepartment" asp-action="AddDepartment" asp-controller="Department" method="post" enctype="multipart/form-data">

            <div class="row mb-3" bis_skin_checked="1">
                <label class="col-sm-1 col-form-label">الجامعه</label>
                <div class="col-3" bis_skin_checked="1">
                    @if (ViewBag.Universities != null)
                    {
                        <select name="UniverstyID" id="UniverstyID" class="form-select"
                            asp-items="@(new SelectList(ViewBag?.Universities,"Id","Name"))"
                            aria-label="Default select example"
                            value="UniverstyID"
                            onchange="changeUniName(this.value)">
@*                            <option value="">اختر الجامعة</option>
*@
                        </select>
                    }
                    else
                    {
                        <select name="UniverstyID" id="UniverstyID" class="form-select"
                            asp-items="@(new SelectList(ViewBag?.Universities,"Id","Name"))"
                            aria-label="Default select example"
                            value="UniverstyID">
                            <option value="">لا توجد بيانات</option>
                        </select>
                    }
                    <span id="UniverstyIDEror" name="UniverstyIDEror" class="text-danger"></span>
                </div>
                <label class="col-sm-1 col-form-label">الكليه</label>
                <div class="col-3" bis_skin_checked="1" id="Collage_Section">
                   @* @if (ViewBag.collages != null)
                    {
                        <select asp-for="ColID" class="form-select" required
                            value="ColID"
                            asp-items="@(new SelectList(ViewBag.collages,"Id","Name"))"
                            aria-label="Default select example">
                        </select>

                    }
                    else
                    {*@
                    <select asp-for="ColID" class="form-select"
                            aria-label="Default select example"
                            asp-items="@(new SelectList(ViewBag.collages,"Id","Name"))"
                            value="UniID">
                        <option value="">اختار الكلية</option>
                    </select>
                    <span id="MessageErrorColID" asp-validation-for="ColID" class="text-danger"></span>

                    @*}*@

                </div>
                <label class="col-sm-1 col-form-label">اسم القسم   </label>
                <div class="col-3" bis_skin_checked="1">
                    <input asp-for="Name"  class="form-control" type="text"  />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-3" bis_skin_checked="1">
                    <input asp-for="ISDeleted" value="False" class="form-control" hidden type="text"  />
                </div>
                <br>
                <br>
                <div class="col-12 d-flex justify-content-center" bis_skin_checked="1">
                    <button class="btn btn-primary" id="submitData" type="submit">  اضافه قسم </button>
                </div>
                </div>
        </form>
    </div>
</section>


@section Scripts{
    <script type="text/javascript">
        function changeUniName(value) {
            if (value == "اختر الجامعة") {
                document.getElementById("ColID").disabled = true;
                $("#ColID").empty();
                $("#ColID").append('<option>اختر الكلية</option>');

            }
            else {
                $.ajax({
                    type: "Get",
                    dataType: "json",
                    Cache: false,
                    url: "/admin/Department/ChangeUniversty",
                    data: { "UniverstyID": value },
                    success: function (response) {
                   

                        if ((response + '').length == 0) {
                            console.log("no data")
                            $("#ColID").append('<option value="">لا توجد بيانات</option>');
                            $("#MessageErrorColID").append('<span id="ColID - error" class="" > يجب اختيار الكلية < /span>')
                        }
                        else {
                            $("#ColID").empty();
                            console.log(" data")
                            $("#ColID-error").remove();
                            $.each(response, function (i, state) {


                                $("#ColID").append('<option value="' + state.id + '">' + state.name + '</option>');
                                // here we are adding option for States
                            });
                        }
                        document.getElementById("ColID").disabled = false;

                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            }
          

          


        };
    </script>
 
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
}

