@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <section class="section " style="margin:50px ;">

        <div class=" p-3 rounded-3" style="background: #fff; border: 1px solid transparent; box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);">

            <form method="post">
                <div class="row mb-3" bis_skin_checked="1">
                    <label class="col-sm-1 col-form-label">الجامعه</label>
                    <div class="col-3" bis_skin_checked="1">
                        <select name="Univesity" class="form-select" aria-label="Default select example">
                            <option selected="">اختار الجامعه</option>
                            <option value="">جامعه المنيا</option>
                            <option value="">جامعه بني سويف</option>
                            <option value="">جامعه اسيوط</option>
                            <option value="">جامعه القاهره</option>

                        </select>
                    </div>
                    <label class="col-sm-1 col-form-label">الكليه</label>
                    <div class="col-3" bis_skin_checked="1">
                        <select name="College" class="form-select" aria-label="Default select example">
                            <option selected="">كليه حاسبات</option>
                            <option value="">كليه هندسه</option>
                            <option value="">كليه طب </option>


                        </select>
                    </div>
                    <br>
                    <br>

                    <br>

                    <div class="col-12 d-flex justify-content-center" bis_skin_checked="1">
                        <button class="btn btn-primary" type="submit">عرض الاقسام </button>
                    </div>

            </form>
        </div>



    </section>
}
