@model FilterDepartViewModel
<section class="section " style="margin:50px ;">

    <div class=" p-3 rounded-3" style="background: #fff; border: 1px solid transparent; box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);">
        <form data-ajax-url="/admin/Department/DisplayDepartment" data-ajax="true" data-ajax-method="post"
              data-ajax-mode="replace" data-ajax-update="#DataDepartment"
              data-ajax-begin="OnBegin" data-ajax-failure="OnFailure"
              data-ajax-success="OnSuccess" data-ajax-complete="OnComplete">


            <div class="row mb-3" bis_skin_checked="1">
                <label class="col-sm-1 col-form-label">الجامعه</label>
                <div class="col-3" bis_skin_checked="1">
                    @if (ViewBag.Universities != null)
                    {
                        <select asp-for="UniverstyID" class="form-select"
                            asp-items="@(new SelectList(ViewBag?.Universities,"Id","Name"))"
                            aria-label="Default select example"
                            value="UniverstyID"
                            onchange="changeUniName(this.value)">
                            <option value="">اختر الكلية</option>

                        </select>
                    }
                    else
                    {
                        <select asp-for="UniverstyID" class="form-select"
                            aria-label="Default select example"
                            value="UniverstyID">
                            <option value="">لا توجد بيانات</option>
                        </select>
                    }
                    <span asp-validation-for="UniverstyID" class="text-danger"></span>

                </div>
                <label class="col-sm-1 col-form-label">الكليه</label>
                <div class="col-3" bis_skin_checked="1" id="Collage_Section">
                    @*   @if (ViewBag.collages != null)
                    {
                    <select asp-for="CollageID" class="form-select" disabled
                    value="CollageID"
                    asp-items="@(new SelectList(ViewBag.collages,"Id","Name"))"
                    aria-label="Default select example">
                    </select>

                    }
                    else
                    {*@
                    <select asp-for="CollageID" class="form-select" disabled
                            aria-label="Default select example">
                        <option value="">اختر الكلية</option>
                        @*<option>لا توجد بيانات</option>*@
                    </select>
                    @*}*@
                    <span asp-validation-for="CollageID" class="text-danger"></span>

                </div>
                <br>
                <br>

                <br>

                <div class="col-12 d-flex justify-content-center" bis_skin_checked="1">
                    <button class="btn btn-primary" type="submit">عرض الاقسام </button>
                </div>
            </div>
        </form>
    </div>



</section>
<section class="section " style="margin:50px ;" id="DataDepartment">
    @{
        Html.RenderPartial("DisplayDepartment");
    }
</section>

@section Scripts{
    <script type="text/javascript">
        function changeUniName(value) {
            if (value == "اختر الجامعة") {
                document.getElementById("CollageID").disabled = true;
                $("#CollageID").empty();
                $("#CollageID").append('<option>اختر الكلية</option>');

            }
            else {
                $.ajax({
                    type: "Get",
                    dataType: "json",
                    Cache: false,
                    url: "/admin/Department/ChangeUniversty",
                    data: { "UniverstyID": value },
                    success: function (response) {
                        $("#CollageID").empty();
                        if((response + '').length==0){
                            console.log("no data")
                            $("#CollageID").append('<option>لا توجد بيانات</option>');
                        }
                        else{
                            console.log(" data")
                            $.each(response, function (i, state) {


                                $("#CollageID").append('<option value="' + state.id + '">' + state.name + '</option>');
                                // here we are adding option for States
                            });
                        }
                        document.getElementById("CollageID").disabled = false;

                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            }

        };
    </script>
    <script>

        function OnBegin() {
            console.log("i start");

        }
        function OnSuccess() {
            $('#Modal_PMT').modal('hide')
            console.log("i OnSuccess");

        }
        $('#Modal_PMT').on('hidden.bs.modal', function (e) {
            e.target.hidden;
        })
        function OnComplete() {
            console.log("i OnComplete");
            $('#Modal_PMT').modal('hide')
            $('#Modal_PMT').removeClass('show')

            $('div').remove('.modal-backdrop')

        }

        function OnFailure() {
            console.log("i OnFailure");
            $('#Modal_PMT').modal('hide')

        }
    </script>
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
}