@model ChangePassViewModel

<div class="container " dir="rtl">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="text-center text-danger my-5">تغيير الرقم السرى</h1>
        </div>
        <div class=" col-8  col-md-6 text-right ">
            <form asp-action="ChangePassword"
                  asp-controller="Home"
                  method="post"
                  novalidate="novalidate">
                <div class="form-group my-4">
                    <label asp-for="OldPassword" class="my-2">الرقم السرى القديم</label>
                    <input type="text" style="line-height:2"
                           class="form-control text-right w-100"
                           asp-for="OldPassword"
                           placeholder="الرقم السرى القديم" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group my-4">
                    <label asp-for="NewPassword" class="my-2">كلمة سر جديدة </label>
                    <input type="text" style="line-height:2"
                           class="form-control text-right w-100"
                           asp-for="NewPassword"
                           placeholder="كلمة سر جديدة" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group my-4">
                    <label asp-for="ConfirmPassword" class="my-2">تاكيد كلمة السر</label>
                    <input type="email"
                           class="form-control text-right"
                           asp-for="ConfirmPassword"
                           placeholder="تاكيد كلمة السر" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" value="submit" class="btn_3 w-100">
                    تعديل البيانات
                </button>
            </form>
            <div class="text-center mt-2">
                <a asp-action="Profile" class="text-primary h4" asp-controller="Home">الرجوع الى الملف الشخصى</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}