@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@model UProfileViewModel
<div class="container " dir="rtl">
    <div class="row justify-content-center">
        <div class="col-12">
            <h1 class="text-center text-danger my-5">تعديل بيانات المستخدم</h1>
        </div>
        <div class=" col-8  col-md-6 text-right ">
            <form asp-action="UpdateProfile"
                  asp-controller="Home"
                  method="post"
                  novalidate="novalidate">
                <input hidden  type="text" id="UserName" name="UserName" value="@ViewBag?.username" />
                <input hidden  type="password" id="Password" name="Password" value="@ViewBag?.password" />
                <div class="form-group my-4">
                    <label asp-for="FnameProfile" class="my-2">الاسم الاول </label>
                    <input type="text" style="line-height:2"
                           class="form-control text-right w-100"
                           asp-for="FnameProfile"
                           placeholder="الاسم الاول" />
                    <span asp-validation-for="FnameProfile" class="text-danger"></span>
                </div>
                <div class="form-group my-4">
                    <label asp-for="LnameProfile" class="my-2">الاسم الثانى </label>
                      <input type="text" style="line-height:2"
                                   class="form-control text-right w-100"
                                   asp-for="LnameProfile"
                                   placeholder="الاسم الثانى" />
                            <span asp-validation-for="LnameProfile" class="text-danger"></span>
                </div>
                <div class="form-group my-4">
                    <label asp-for="EmailProfile" class="my-2">البريد الالكترونى</label>
                    <input type="email"
                           class="form-control text-right"
                           asp-for="EmailProfile"
                           placeholder="البريد الالكترونى" />
                    <span asp-validation-for="EmailProfile" class="text-danger"></span>
                </div>
                <button type="submit" value="submit" class="btn_3 w-100">
                    تعديل البيانات
                </button>
            </form>

        </div>
    </div>
</div>
@section Scripts
    {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }


    }