@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-7 d-flex flex-column align-items-center justify-content-center">

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="pt-4 pb-2">
                                <h5 class="card-title text-center pb-0 fs-4">اضافه ادمن </h5>
                            </div>
                            <form class="row g-3 needs-validation" novalidate method="post" asp-controller="User" asp-action="Add">
                                <div class="col-12">
                                    <label class="form-label">اسم المستخدم</label>
                                    <div class="input-group has-validation">
                                        <input name="UserName" class="form-control" required>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label"> الايميل</label>
                                    <div class="input-group has-validation">
                                        <input name="Email" class="form-control" required>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="form-label">الرقم السري</label>
                                    <input name="Password" class="form-control" required type="password">
                                    <span class="text-danger"></span>

                                </div>
                                <div class="col-12">
                                    <label class="form-label">تكرار الرقم السري </label>
                                    <input name="RPassword" class="form-control">
                                    <span class="text-danger"></span>

                                </div>


                                <div class="col-12"> <button class="btn btn-primary w-100" type="submit">انشاء حساب</button></div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
