@model ProfessorDTO

@if (Model != null) {
    <section class="section " style="margin:50px ;">
        <div class=" p-3 rounded-3" style="background: #fff; border: 1px solid transparent; box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);">
            <h1 class="d-flex justify-content-center">تعديل محاضر </h1>
            <form method="post" enctype="multipart/form-data">
                <div class="row mb-3" bis_skin_checked="1">
                    <label class="col-sm-1 col-form-label">الجامعه</label>
                    <div class="col-3" bis_skin_checked="1">
                        <select requireds class="form-select"
                            asp-items="@(new SelectList(ViewBag?.Universities,"Id","Name",Model.UniID))"
                            aria-label="Default select example"
                            value="UniverstyName"
                            id="UniVer"
                            onchange="changeUniName(this.value)"
                            asp-for="UniID">
                            <option value="0">اختر الجامعة</option>
                        </select>
                        <span class="text-danger" asp-validation-for="UniID"></span>

                    </div>

                    <label class="col-sm-1 col-form-label">الكليه</label>
                    <div class="col-3" bis_skin_checked="1">
                        <select required class="form-select" id="colleges" asp-items="@(new SelectList(ViewBag?.cols,"Id","Name",Model.ColID))" asp-for="ColID">
                        </select>
                        <span class="text-danger" asp-validation-for="ColID"></span>

                    </div>
                    <br>
                    <br>
                    <br>
                    <label class="col-sm-1 col-form-label">القسم</label>
                    <div class="col-3" bis_skin_checked="1">
                        <select required class="form-select" id="sections" asp-items="@(new SelectList(ViewBag?.Depts,"Id","Name",Model.DeptID))" asp-for="DeptID">
                        </select>
                        <span class="text-danger" asp-validation-for="DeptID"></span>


                    </div>
                    <label class="col-sm-1 col-form-label" asp-for="CrsId"></label>
                    <div class="col-3" bis_skin_checked="1">
                        <select class="form-select" id="Courses" asp-for="CrsId" asp-items="@(new SelectList(ViewBag?.Cors,"Id","Name",Model.CrsId))">
                        </select>
                        <span class="text-danger" asp-validation-for="CrsId"></span>

                    </div>

                    <br>
                    <br>
                    <br>
                    <label class="col-sm-1 col-form-label" asp-for="Name"></label>
                    <div class="col-3" bis_skin_checked="1">
                        <input class="form-control" type="text" asp-for="Name" />
                        <span class="text-danger" asp-validation-for="Name"></span>

                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="col-12 d-flex justify-content-center" bis_skin_checked="1">
                        <button class="btn btn-primary" type="submit">  حفظ  </button>
                    </div>
            </form>
        </div>
    </section>

}