@model SourceDto
@{
    <section class="section " style="margin:50px ;">
        <div class=" p-3 rounded-3" style="background: #fff; border: 1px solid transparent; box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);">
            <h1 class="d-flex justify-content-center">اضافه مصدر</h1>
            <form  asp-action="Add" asp-controller="Source"  method="Post" enctype="multipart/form-data">
                <div class="row mb-3" bis_skin_checked="1">
                    <label asp-for="uniId" class="col-lg-1 col-md-1 col-sm-3 col-form-label"> </label>
                    <div class="col-lg-3 col-md-3 col-sm-9" bis_skin_checked="1">                                    
                        <select asp-for="uniId"  asp-items="ViewBag.universities as SelectList" class="form-select" onchange="unversitychange(this.value)">
                        <option value="0">اختر جامعه</option>
                        </select>
                        <span asp-validation-for="uniId" class="text-danger"></span>
                    </div>
                    <label asp-for="colliId" class="col-lg-1 col-md-1 col-sm-3 col-form-label"> </label>
                    <div class="col-lg-3 col-md-3 col-sm-9" bis_skin_checked="1">
                        <select asp-for="colliId"  class="form-select" onchange="collegechange(this.value)"  disabled></select>
                        <span asp-validation-for="colliId" class="text-danger"></span>
                    </div>
                    <label asp-for="deptId" class="col-lg-1 col-md-1 col-sm-3 col-form-label"></label>
                    <div class="col-lg-3 col-md-3 col-sm-9" bis_skin_checked="1">
                        <select asp-for="deptId"  class="form-select" onchange="departmentchange(this.value)"  disabled></select>
                        <span asp-validation-for="deptId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3" bis_skin_checked="1">
                    <label asp-for="CrsID" class="col-lg-1 col-md-1 col-sm-3 col-form-label">  </label>
                    <div class="col-lg-3 col-md-3 col-sm-9" bis_skin_checked="1">
                        <select asp-for="CrsID"  class="form-select" onchange="coursechange(this.value)"  disabled></select>
                        <span asp-validation-for="CrsID" class="text-danger"></span>
                    </div>
                    <label asp-for="ProfID" class="col-lg-1 col-md-1 col-sm-3 col-form-label"> </label>
                    <div class="col-lg-3 col-md-3 col-sm-9" bis_skin_checked="1">
                            <select asp-for="ProfID"  class="form-select"  disabled></select>
                        <span asp-validation-for="ProfID" class="text-danger"></span>
                    </div>
                    <label asp-for="Type" class="col-lg-1 col-md-1 col-sm-3 col-form-label"> </label>
                    <div class="col-lg-3 col-md-3 col-sm-9" bis_skin_checked="1">
                        <select asp-for="Type" class="form-select">
                            <option value="ملخص" selected>ملخص </option>
                            <option value="حل تاسك">حل تاسك</option>
                        </select>
                        <span class="text-danger" asp-validation-for="Type"></span>
                    </div>
                </div>
                <div class="row mb-3" bis_skin_checked="1">
                    <label asp-for="Title" class="col-lg-1 col-md-1 col-sm-3 col-form-label">  </label>
                    <div class="col-lg-5 col-md-5 col-sm-9" bis_skin_checked="1">
                        <input asp-for="Title" class="form-control" type="text" />
                        <span asp-validation-for="Title" class="text-danger"></span>

                    </div>
                    <label asp-for="Description" class="col-lg-1 col-md-1 col-sm-3 col-form-label">   </label>
                    <div class="col-lg-5 col-md-5 col-sm-9" bis_skin_checked="1">
                        <input asp-for="Description" class="form-control" type="text" />
                        <span asp-validation-for="Description" class="text-danger"></span>

                    </div>

                </div>
                <div class="row mb-3" bis_skin_checked="1">
                    <label asp-for="Price" class="col-lg-1 col-md-1 col-sm-3 col-form-label"> </label>
                    <div class="col-lg-5 col-md-5 col-sm-9" bis_skin_checked="1">
                        <input asp-for="Price" class="form-control" type="text" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <label asp-for="Notes" class="col-lg-1 col-md-1 col-sm-3 col-form-label"></label>
                    <div class="col-lg-5 col-md-5 col-sm-9" bis_skin_checked="1">
                        <input asp-for="Notes" class="form-control" type="text" />
                        <span asp-validation-for="Notes" class="text-danger"></span>
                    </div>
                </div>
                <div class=" mb-3" bis_skin_checked="1" width="300px" height="200px">
                    <label for="file" >
                        <!-- <img  src="../assets/img/avatars/1.png" style="width: 100px; height: 100px;" />  -->
                        <div class="border border-dark text-center  rounded-3" style="position:relative;  width: 300px; height: 200px; vertical-align:middle; display:table-cell;">
                            <i id="fileIcon" class='bx bx-plus-medical' style="font-size:30px ; position:absolute; top:50%;"></i>
                            <embed id="previewImg" src="" width="300px" height="200px" style="display: none; position:absolute; top:0;" />
            <input id="file" name="sources"  type="file" onchange="previewFile(this);" style="display: block; opacity: 0; width: 300px; height: 200px;" />
                            </div>
                    </label>
                </div>
                <br>
                <div class="col-12 d-flex justify-content-center" bis_skin_checked="1">
                    <button class="btn btn-primary" type="submit">  اضافه </button>
                </div>
            </form>
        </div>
    </section>
}
 @section scripts {
<script>

   function  unversitychange(value){

     $.ajax({
    url: "/Source/unversity/",
    dataType: "json",
    cache: false,
    type: 'POST',
    data: {Id: value },             
    success: function (result) {
        console.log(result);
      
            
        $("#colliId").empty();
                                  $("#colliId").append('<option value="' + 0 + '">' + "اختر" + '</option>');

                      $.each(result, function (i, state) {
                          $("#colliId").append('<option value="' + state['item1'] + '">' + state['item2'] + '</option>');
                          // here we are adding option for States
                      });
       
    },
    error: function(ex) { 
         console.log(ex)
    }

});
       document.getElementById('colliId').disabled = false;
        $("#deptId").empty();
         $("#CrsID").empty();
          $("#ProfID").empty();
       document.getElementById('deptId').disabled = true;
        document.getElementById('CrsID').disabled = true;
         document.getElementById('ProfID').disabled = true;
    }
   function collegechange(value){
     $.ajax({
    url: "/Source/departments",
    dataType: "json",
    cache: false,
    type: 'POST',
    data: {Id: value  },             
    success: function (result) {
        console.log(result);
      
            
        $("#deptId").empty();
                 $("#deptId").append('<option value="' + 0 + '">' + "اختر" + '</option>');

                      $.each(result, function (i, state) {
                          $("#deptId").append('<option value="' + state['item1'] + '">' + state['item2'] + '</option>');
                          // here we are adding option for States
                      });
       
    },
    error: function(ex) { 
         console.log(ex)
    }

});
       document.getElementById('deptId').disabled = false;
       
         $("#CrsID").empty();
          $("#ProfID").empty();
      
        document.getElementById('CrsID').disabled = true;
         document.getElementById('ProfID').disabled = true;
    }
     function departmentchange(value){
     $.ajax({
    url: "/Source/courses",
    dataType: "json",
    cache: false,
    type: 'POST',
    data: {Id: value},             
    success: function (result) {
        console.log(result);
      
            
        $("#CrsID").empty();
                  $("#CrsID").append('<option value="' + 0 + '">' + "اختر" + '</option>');

                      $.each(result, function (i, state) {
                          $("#CrsID").append('<option value="' + state['item1'] + '">' + state['item2'] + '</option>');
                          // here we are adding option for States
                      });
       
    },
    error: function(ex) { 
         console.log(ex)
    }

});
       document.getElementById('CrsID').disabled = false;
        
          $("#ProfID").empty();
      
         document.getElementById('ProfID').disabled = true;

    }
     function coursechange(value){
     $.ajax({
    url: "/Source/Profs",
    dataType: "json",
    cache: false,
    type: 'POST',
    data: {Id: value},             
    success: function (result) {
        console.log(result[0]['item1']);
      
            
        $("#ProfID").empty();
                  $("#ProfID").append('<option value="' + 0 + '">' + "اختر" + '</option>');
                  
                      $.each(result , function (i, state) {
                          console.log(state);
                          $("#ProfID").append('<option value="' + state['item1']+ '">' + state['item2']+ '</option>');
                          // here we are adding option for States
                      });
       
    },
    error: function(ex) { 
         console.log(ex)
    }

});
       document.getElementById('ProfID').disabled = false;
    }
 function previewFile(input) {
            var file = $("input[type=file]").get(0).files[0];

            if (file) {
                var reader = new FileReader();

                reader.onload = function() {

                    $("#previewImg").attr("src", reader.result);
                    document.getElementById('fileIcon').style.display = "none";
                    document.getElementById('previewImg').style.display = "block";
                    console.log(reader.result);
                }

                reader.readAsDataURL(file);
            }
        }
</script>
 }