@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     <!-- slider Area Start-->
    <div class="container py-5">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>تفصيل الملخص</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- slider Area End-->

    <!--================Single Product Area =================-->
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="single_product_img">
            <img
              src="assets/img/product/single_product.png"
              alt="#"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="col-lg-8 py-3">
          <div class="single_product_text text-center">
            <h3>الكمياء الحيوية</h3>
            <h5>د\محمد الخياط</h5>
            <p>
              Seamlessly empower fully researched growth strategies and
              interoperable internal or “organic” sources. Credibly innovate
              granular internal or “organic” sources whereas high standards in
              web-readiness. Credibly innovate granular internal or organic
              sources whereas high standards in web-readiness. Energistically
              scale future-proof core competencies vis-a-vis impactful
              experiences. Dramatically synthesize integrated schemas. with
              optimal networks.
            </p>
            <h3>السعر : 223</h3>
            <div class="add_to_cart d-inline-block py-3">
              <a
                href="#"
                class="genric-btn danger-border radius justify-content-center"
              >
                اضافة لسلة المشتريات</a
              >
            </div>
            <div class="card_area"></div>
          </div>
        </div>
      </div>
    </div>


}
