@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <section class="section " style="margin:50px ;">
        <div class=" p-3 rounded-3" style="background: #fff; border: 1px solid transparent; box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);">

            <form method="post" enctype="multipart/form-data">
                <div class="row mb-3" bis_skin_checked="1">
                    <label class="col-sm-1 col-form-label"> الجامعه</label>
                    <div class="col-3" bis_skin_checked="1">
                        <select name="Univesity" id="Univesity" class="form-select">
                            <option value="" selected>  اختر جامعه</option>
                            <option value="">جامعه المنيا</option>
                            <option value=""> جامعه بني سويف</option>
                        </select>
                        <span class="text-danger"></span>

                    </div>
                    <label class="col-sm-1 col-form-label"> الكليه</label>
                    <div class="col-3" bis_skin_checked="1">
                        <select name="College" id="College" class="form-select">
                            <option value="" selected>  اختر كليه</option>
                            <option value="">كليه حاسبات</option>
                            <option value=""> كليه طب</option>
                        </select>
                        <span class="text-danger"></span>

                    </div>
                    <label class="col-sm-1 col-form-label">القسم</label>
                    <div class="col-3" bis_skin_checked="1">
                        <select name="Department" id="Department" class="form-select">
                            <option value="" selected>  اختر قسم</option>
                            <option value="">نظم معلومات</option>
                            <option value="">علوم حاسب</option>
                        </select>
                        <span class="text-danger"></span>

                    </div>
                </div>
                <div class="row mb-3" bis_skin_checked="1">
                    <label class="col-sm-1 col-form-label"> اسم الماده</label>
                    <div class="col-3" bis_skin_checked="1">
                        <select name="Material" id="Material" class="form-select">
                            <option value="" selected>   اختر الماده</option>
                            <option value=""> سكيرتي</option>
                            <option value="">   كومبيلر</option>
                        </select>
                        <span class="text-danger"></span>

                    </div>
                    <label class="col-sm-1 col-form-label"> االمحاضر</label>
                    <div class="col-3" bis_skin_checked="1">
                        <select name="Instructor" id="Instructor" class="form-select">
                            <option value="" selected>  اختر المحاضر</option>
                            <option value=""> أيه اسماعيل</option>
                            <option value=""> الاء  احمد</option>
                        </select>
                        <span class="text-danger"></span>

                    </div>
                    <label class="col-sm-1 col-form-label">نوع المصدر</label>
                    <div class="col-3" bis_skin_checked="1">
                        <select class="Source_Type" id="Source_Type" class="form-select">
                            <option value="" selected>  اختر نوع المصدر</option>
                            <option value="">ملخص </option>
                            <option value="">حل تاسك</option>
                        </select>
                        <span class="text-danger"></span>

                    </div>
                </div>







                <br>

                <div class="col-12 d-flex justify-content-center" bis_skin_checked="1">
                    <button class="btn btn-primary" type="submit">  عرض </button>
                </div>
            </form>
        </div>

    </section>
}
