@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <section class="section " style="margin:50px ;">
        <div class=" p-3 rounded-3" style="background: #fff; border: 1px solid transparent; box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);">

            <h1 class="d-flex justify-content-center">اسم الجامعه </h1>
            <form method="post" enctype="multipart/form-data">
                <div class="row mb-3" bis_skin_checked="1">
                    <label class="col-sm-1 col-form-label">الجامعه</label>
                    <div class="col-3" bis_skin_checked="1">
                        <select name="Univesity" class="form-select">
                            <option selected="">اختار الجامعه</option>
                            <option value="">جامعه المنيا</option>
                            <option value="">جامعه بني سويف</option>
                            <option value="">جامعه اسيوط</option>
                            <option value="">جامعه القاهره</option>

                        </select>
                    </div>
                    <label class="col-sm-1 col-form-label">اسم الكليه   </label>
                    <div class="col-5" bis_skin_checked="1">
                        <input name="College" class="form-control" type="text" />
                        <span class="text-danger"></span>

                    </div>

                    <br>
                    <br>
                    <br>
                    <div class="col-12 d-flex justify-content-center" bis_skin_checked="1">
                        <button class="btn btn-primary" type="submit">  اضافه كليه </button>
                    </div>
            </form>
        </div>
    </section>
}
