@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="conatiner">
        <div class="row card rounded alert-danger">
            <div class="text-center card-body  p-5">
                <h1 class="text-danger">الوصول ممنوع</h1>
                <h3 class="text-danger">
                    ليس لديك إذن لدخول الى هذة الصفحة.
                </h3>
            </div>
        </div>
    </div>
}
