@model Department
<section class="section " style="margin:50px ;">
    <div class=" p-3 rounded-3" style="background: #fff; border: 1px solid transparent; box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);">

        <h1 class="d-flex justify-content-center">تعديل قسم </h1>
        <form asp-action="EditDepartment" asp-controller="Department" enctype="multipart/form-data">
            <input hidden name="id" id="id" value="@Model.Id" />
            <input hidden asp-for="Id" />
            <div class="row mb-3" bis_skin_checked="1">

                <label class="col-sm-1 col-form-label">الجامعه</label>
                <div class="col-3" bis_skin_checked="1">
                    @if (ViewBag.Universities != null)
                    {
                        <select name="UniverstyID" id="UniverstyID" class="form-select" required
                            asp-items="@(new SelectList(ViewBag?.Universities,"Id","Name",Model.College.University.Id))"
                            aria-label="Default select example"
                            value="UniverstyID"
                            onchange="changeUniName(this.value)">
                        </select>
                    }
                    else
                    {
                        <select name="UniverstyID" id="UniverstyID" class="form-select" required
                            aria-label="Default select example"
                            value="UniverstyID">
                            <option>لا توجد بيانات</option>
                        </select>
                    }
                    <span asp-validation-for="College.UniID" class="text-danger"></span>
                </div>
                <label class="col-sm-1 col-form-label">الكليه</label>
                <div class="col-3" bis_skin_checked="1" id="Collage_Section">
                    @if (ViewBag.collages != null)
                    {
                        <select asp-for="ColID" class="form-select" required
                            value="ColID"
                            asp-items="@(new SelectList(ViewBag.collages,"Id","Name",Model.ColID))"
                            aria-label="Default select example">
                        </select>

                    }
                    else
                    {
                        <select asp-for="ColID" class="form-select" required
                            value="ColID"
                            aria-label="Default select example">
                            <option value="">لا توجد بيانات</option>
                        </select>
                    }
                    <span asp-validation-for="ColID" class="text-danger"></span>

                </div>
                <label class="col-sm-1 col-form-label">اسم القسم   </label>
                <div class="col-3" bis_skin_checked="1">
                    <input asp-for="Name" value="@Model.Name" required class="form-control" type="text" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <br>
                <br>
                <br>
                <div class="col-12 d-flex justify-content-center" bis_skin_checked="1">
                    <button class="btn btn-primary" type="submit">  تعديل قسم </button>
                </div>
            </div>
        </form>
    </div>
</section>


@section Scripts{
    <script type="text/javascript">
        function changeUniName(value) {
            console.log(value);
            $.ajax({
                type: "Get",
                dataType: "json",
                Cache: false,
                url: "/admin/Department/ChangeUniversty",
                data: { "UniverstyID": value },
                success: function (response) {
                    $("#ColID").empty();
                    console.log(response);
                    $.each(response, function (i, state) {
                        console.log(state.name)
                        console.log(state)
                        $("#ColID").append('<option value="' + state.id + '">' + state.name + '</option>');
                        // here we are adding option for States
                    });

                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            });

        };
    </script>
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
   
}
